.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.layout {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 250px;
}

.content {
    flex: 1;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 в ряд */
    gap: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.ingredients {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 6px 10px;
    cursor: pointer;
}